<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="de.htwdd.htwdresden">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".HTWDresdenApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!--Activities-->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity>
        <activity
            android:name=".TimetableEditActivity"
            android:label="@string/timetable_edit_activity_titel"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.htwdd.htwdresden.MainActivity" />
        </activity>
        <activity
            android:name=".RoomTimetableDetailsActivity"
            android:label="@string/navi_room_timetable"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.htwdd.htwdresden.MainActivity" />
        </activity>

        <!-- Services-->
        <service
            android:name=".service.VolumeControllerService"
            android:exported="false" />
        <service
            android:name=".service.TimetableWidgetService"
            android:enabled="true"/>
        <service
            android:name=".service.ExamSyncService"
            android:enabled="true"/>
        <service
            android:name=".service.ExamAutoUpdateService"
            android:enabled="true"/>
        <service
            android:name=".service.TimetableStudentSyncService"
            android:enabled="true"/>
        <service
            android:name=".service.TimetableRoomSyncService"
            android:enabled="true"/>

        <!-- Receiver-->
        <receiver
            android:name=".service.VolumeControllerService$HtwddBootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".service.ExamAutoUpdateService$UpdateExamsReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".MensaWidget"
            android:label="@string/navi_mensa">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/mensa_widget_info" />
        </receiver>
        <receiver
            android:name=".TimetableWidget"
            android:label="@string/navi_timetable">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/timetable_widget_info" />
        </receiver>

    </application>

</manifest>
